body {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Monaco", monospace;
}

div {
	padding: 10px;
}

.searchbar {
	width: 450px;
	height: 50px;
	border-radius: 10px;
	background-color: #e7e7e7; 
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.ButtonPresets {
	display: flex;
	justify-content: space-between;
}

.ButtonPresets input[type=submit] {
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #e7e7e7; 
	color: black;
	font-family: "Monaco", monospace;
	font-weight: bold;
	cursor: pointer;
}

.ButtonPresets input[type=submit]:hover {
	transform: scale(1.1);
}

.searchbar input[type=search] {
	width: 300px;
	font-family: "Monaco", monospace;
	padding: 10px;
	border: outline;
	background-color: #FFFFFF; 
	border-radius: 5px;
}	

.searchbar button[type=submit] {
	width: 125px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: "Monaco", monospace;
	background-color: #4c5a65;
}

.tables {
	background-color: #e7e7e7; 
	border-radius: 10px;
	margin-bottom: 10px;
	display: none;
	flex-direction: column;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: "Monaco", monospace;
	border: 1px solid;
}

.tables input[type=button] {
	padding: 15px;
	border: none;
	background-color: #e7e7e7; 
	color: black;
	font-family: "Monaco", monospace;
	font-size: 12px;
	margin-right: 30px;
}
.tables input[type=button]:hover {
	cursor: pointer;
	text-decoration: underline;
}

.tables section {
	color: white;
}

.tables .lib_branch{
	display: none;
}

.tables .lib_member{
	display: none;
}

.tables .books{
	display: none;
}

.tables .publisher{
	display: none;
}

.tables .librarian{
	display: none;
}

.tables .borrowed_prod{
	display: none;
}

.tables .borrowed_recent{
	display: none;
}

th {
	background-color: #4C5A65;
	color: white;
	padding: 15px;
	text-align: left;

}

td {
	padding: 15px;
	color: black;
	border-top: 2px solid black;
	text-align: left;
}

.queries {
	display: none;
}

.queries #query_buttons {
	display: none;
}

#query_buttons input[type=button] {
	padding: 15px;
	border: none;
	background-color: #e7e7e7; 
	color: black;
	font-family: "Monaco", monospace;
	font-size: 12px;
	margin-right: 30px;
	border-radius: 15px;
}

#query_buttons input[type=button]:hover {
	cursor: pointer;
	text-decoration: underline;
}

.queries div {
	display: none;
}

.addvalues input{
	padding: 10px;
	margin-bottom: 10px;
}
.addvalues form{
	padding: 10px;
	border-radius: 10px;
	background-color: #e7e7e7;
	
}

.addvalues button[type=submit] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: "Monaco", monospace;
	background-color: #4c5a65;
}